workflow.json
{
  "name": "Candidate Screening System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Fit Analyzer",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload CV",
              "fieldType": "file",
              "fieldName": "cv_file"
            },
            {
              "fieldLabel": "Paste Job Description",
              "fieldType": "textarea",
              "fieldName": "job_description"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "9e8fc640-56bc-4df7-bafe-fe55b4eb188a",
      "name": "Candidate Input Portal",
      "webhookId": "bfbabbde-51f7-4776-9e1f-29d9508c7108"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cv_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "2eda3d5f-cddb-4d17-a34c-323b14a80435",
      "name": "PDF Text Extractor"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a strict, skeptical Technical Hiring Manager at a top-tier tech company. Your job is to critically evaluate a candidate's CV against a Job Description.\n\nDo not be polite. Do not make assumptions. If a skill is not explicitly stated, assume the candidate does not have it.\n\nAnalyze the candidate's seniority, specific tech stack match, and depth of experience.\n\n1. Analyze the candidate's CV against the Job Description.\n2. Identify the Company Name from the Job Description text.\n3. Infer 3 Core Values based on the tone and \"About Us\" section of the JD.\n4. Generate 3 specific, hard technical or behavioral interview questions relevant to this specific role.\n\nReturn purely JSON:\n{\n  \"score\": number, // Strict scoring.\n  \"summary\": \"string\", // A candid, executive summary of the fit. Mention potential risks.\n  \"company_name\": \"string\",\n  \"company_values\": [\"Value 1\", \"Value 2\", \"Value 3\"],\n  \"interview_questions\": [\"Question 1\", \"Question 2\", \"Question 3\"],\n  \"matching_skills\": [\"skill1\", \"skill2\"],\n  \"missing_skills\": [\"skill1\", \"skill2\"],\n  \"improvement_tips\": [\"Actionable Tip 1\", \"Actionable Tip 2\"]\n}\n"
            },
            {
              "content": "=JOB DESCRIPTION:\n{{ $('Candidate Input Portal').item.json.job_description }}\n\nCV TEXT:\n{{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "63072256-a34e-48da-9d66-662ac4540b54",
      "name": "AI Recruiter Logic",
      "credentials": {
        "openAiApi": {
          "id": "Tn1TtJbJMLXjYHID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Suitability Report | AI Analysis</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"icon\" href=\"https://cdn-icons-png.flaticon.com/512/4712/4712139.png\" type=\"image/png\">\n    <style>\n        /* Apple-style System Font Stack */\n        body { \n            font-family: -apple-system, BlinkMacSystemFont, \"Inter\", \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif; \n            background-color: #F5F5F7; \n            color: #1D1D1F; \n            margin: 0;\n        }\n        \n        /* Smooth, diffused Apple-style shadows & Glassmorphism */\n        .card { \n            background: rgba(255, 255, 255, 0.8); \n            backdrop-filter: blur(20px); \n            -webkit-backdrop-filter: blur(20px); \n            border: 1px solid rgba(255,255,255,0.4); \n            box-shadow: 0 4px 24px rgba(0,0,0,0.04); \n            transition: transform 0.3s ease;\n        }\n\n        .card:hover { transform: translateY(-2px); }\n        \n        /* Entry Animations */\n        .fade-in { animation: fadeIn 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards; opacity: 0; transform: translateY(12px); }\n        @keyframes fadeIn { to { opacity: 1; transform: translateY(0); } }\n        .delay-1 { animation-delay: 0.1s; }\n        .delay-2 { animation-delay: 0.2s; }\n        .delay-3 { animation-delay: 0.3s; }\n\n        /* Custom Scrollbar for tips */\n        .tips-container::-webkit-scrollbar { width: 4px; }\n        .tips-container::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.08); border-radius: 10px; }\n    </style>\n</head>\n<body class=\"flex items-center justify-center min-h-screen p-4 md:p-8\">\n\n    <div class=\"max-w-5xl w-full grid grid-cols-1 md:grid-cols-3 gap-6\">\n\n        <div class=\"col-span-1 md:col-span-3 text-center mb-2 fade-in\">\n            <h1 class=\"text-2xl font-semibold tracking-tight text-gray-900\">Suitability Report</h1>\n            <p class=\"text-gray-500 text-sm mt-1 uppercase tracking-widest font-medium\">Target: <span class=\"text-indigo-600\">{{$json.output[0].content[0].text.company_name}}</span></p>\n        </div>\n\n        <div class=\"col-span-1 md:col-span-1 card rounded-[2rem] p-8 flex flex-col items-center justify-center text-center fade-in delay-1 h-full min-h-[320px]\">\n            <div class=\"relative w-44 h-44 mb-6\">\n                <svg class=\"w-full h-full transform -rotate-90\">\n                    <circle cx=\"88\" cy=\"88\" r=\"75\" stroke=\"#E5E7EB\" stroke-width=\"12\" fill=\"none\"/>\n                    <circle cx=\"88\" cy=\"88\" r=\"75\" stroke=\"#0071E3\" stroke-width=\"12\" fill=\"none\"\n                            stroke-dasharray=\"471\" \n                            stroke-dashoffset=\"calc(471 - (471 * {{$json.output[0].content[0].text.score}}) / 100)\"\n                            stroke-linecap=\"round\" class=\"transition-all duration-1000 ease-out\"/>\n                </svg>\n                <div class=\"absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center\">\n                    <span class=\"text-6xl font-bold tracking-tighter\">{{$json.output[0].content[0].text.score}}</span>\n                    <span class=\"text-xs font-bold text-gray-400 mt-1 uppercase tracking-widest\">Match %</span>\n                </div>\n            </div>\n            <div class=\"bg-blue-50 px-4 py-1.5 rounded-full border border-blue-100\">\n                <p class=\"text-[10px] font-bold text-blue-600 uppercase tracking-widest\">Profile Score</p>\n            </div>\n        </div>\n\n        <div class=\"col-span-1 md:col-span-2 card rounded-[2rem] p-9 fade-in delay-2 flex flex-col justify-center\">\n            <div class=\"flex items-center mb-4\">\n                <div class=\"bg-gray-900 text-white p-2 rounded-xl mr-4 shadow-lg\">\n                    <svg class=\"w-5 h-5\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z\"></path></svg>\n                </div>\n                <h2 class=\"text-xl font-bold tracking-tight\">Executive Summary</h2>\n            </div>\n            <p class=\"text-gray-600 leading-relaxed text-lg\">\n                {{$json.output[0].content[0].text.summary}}\n            </p>\n        </div>\n\n        <div class=\"col-span-1 md:col-span-1 card rounded-[2rem] p-8 fade-in delay-3 bg-gradient-to-br from-indigo-50/50 to-white\">\n            <h3 class=\"text-lg font-bold mb-5 text-indigo-900 flex items-center\">\n                <svg class=\"w-5 h-5 mr-2\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4\"></path></svg>\n                Company DNA\n            </h3>\n            \n            <p class=\"text-[10px] font-bold text-indigo-400 uppercase tracking-widest mb-3\">Core Values</p>\n            <div class=\"flex flex-wrap gap-2 mb-8\">\n                {{ $json.output[0].content[0].text.company_values.map(v => `\n                    <span class=\"px-3 py-1.5 rounded-lg bg-white text-indigo-700 text-xs font-semibold border border-indigo-100 shadow-sm\">${v}</span>\n                `).join('') }}\n            </div>\n\n            <p class=\"text-[10px] font-bold text-indigo-400 uppercase tracking-widest mb-3\">Predicted Questions</p>\n            <ul class=\"space-y-4\">\n                 {{ $json.output[0].content[0].text.interview_questions.map(q => `\n                    <li class=\"flex items-start group\">\n                        <span class=\"text-indigo-300 mr-3 mt-1 transition-transform group-hover:translate-x-1\">➜</span>\n                        <p class=\"text-sm text-gray-700 font-medium leading-snug\">${q}</p>\n                    </li>\n                 `).join('') }}\n            </ul>\n        </div>\n\n        <div class=\"col-span-1 md:col-span-1 card rounded-[2rem] p-8 fade-in delay-3\">\n            <h3 class=\"text-lg font-bold mb-5 flex items-center\">\n                <span class=\"mr-2\">💡</span> Improvement Plan\n            </h3>\n            <div class=\"space-y-3 tips-container max-h-[280px] overflow-y-auto pr-2\">\n                 {{ $json.output[0].content[0].text.improvement_tips.map(tip => `\n                    <div class=\"text-sm text-gray-600 leading-relaxed p-4 bg-gray-50/50 rounded-2xl border border-gray-100\">\n                        ${tip}\n                    </div>\n                 `).join('') }}\n            </div>\n        </div>\n\n        <div class=\"col-span-1 md:col-span-1 card rounded-[2rem] p-8 fade-in delay-3\">\n             <h3 class=\"text-lg font-bold mb-5 flex items-center text-gray-900\">\n                 <span class=\"mr-2\">🎯</span> Skills Inventory\n             </h3>\n             <div class=\"space-y-6\">\n                <div>\n                    <span class=\"text-[10px] font-bold text-green-600 uppercase tracking-widest block mb-3\">Verified Matches</span>\n                    <div class=\"flex flex-wrap gap-2\">\n                        {{ $json.output[0].content[0].text.matching_skills.map(s => `\n                            <span class=\"px-3 py-1.5 rounded-xl bg-green-50 text-green-700 text-[11px] font-bold border border-green-100/50\">\n                                ${s}\n                            </span>\n                        `).join('') }}\n                    </div>\n                </div>\n                <div>\n                    <span class=\"text-[10px] font-bold text-red-500 uppercase tracking-widest block mb-3\">Identified Gaps</span>\n                    <div class=\"flex flex-wrap gap-2\">\n                        {{ $json.output[0].content[0].text.missing_skills.map(s => `\n                            <span class=\"px-3 py-1.5 rounded-xl bg-red-50 text-red-700 text-[11px] font-bold border border-red-100/50\">\n                                ${s}\n                            </span>\n                        `).join('') }}\n                    </div>\n                </div>\n             </div>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        800,
        0
      ],
      "id": "5ef487e7-bb2b-4863-a666-35af4ce69472",
      "name": "Generate Response Dashboard",
      "webhookId": "9a6aa4c1-892c-4ccd-bb3e-135eb664d3a9"
    },
    {
      "parameters": {
        "content": "### Phase 2: Deterministic AI Agent\nModel: Open AI 4o-mini\nTemp: 0.0 (Deterministic)\nLogic: Implements a skeptical recruiter persona using strict system prompting to enforce JSON output and prevent scoring hallucinations.\n\n",
        "height": 96,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -128
      ],
      "id": "2d748042-d130-47d2-b319-bbd23229ed23",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Phase 1: Ingestion & Extraction\nCustom portal handles binary PDF uploads. Data is sanitized and transformed into raw text via the Extraction node to ensure the LLM receives clean, structured strings.",
        "height": 144,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -176
      ],
      "id": "5db2aea2-fc9c-4d02-9b53-d120dfee29b3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Phase 3: Dynamic Presentation\nRenders raw AI JSON into a responsive Apple-style Bento UI. Mapping based on JD sentiment analysis",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -192
      ],
      "id": "065d3912-fee4-40f2-bf99-bf4c239f33dc",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Candidate Input Portal": {
      "main": [
        [
          {
            "node": "PDF Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Text Extractor": {
      "main": [
        [
          {
            "node": "AI Recruiter Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Recruiter Logic": {
      "main": [
        [
          {
            "node": "Generate Response Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4e26de1d-a43b-466e-9668-8ad41ced127f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c82ca17aa4c2575ba769eb606e8e33dbb424c1204c57794c0a0cc2415fc8f97"
  },
  "id": "jwnOPsVXuIG_iDa9T3JPc",
  "tags": [
    {
      "updatedAt": "2026-02-03T01:26:40.797Z",
      "createdAt": "2026-02-03T01:26:40.797Z",
      "id": "GC0818bgglhSz6B2",
      "name": "AI"
    },
    {
      "updatedAt": "2026-02-03T01:26:43.935Z",
      "createdAt": "2026-02-03T01:26:43.935Z",
      "id": "LLnUCiZ51vqbyaQ4",
      "name": "CV"
    }
  ]
}